In [1]:
import numpy as np
import pandas as pd

In [9]:
labels = ['a', 'b', 'c']
my_list = list(range(10,31,10))
arr = np.array(my_list)
d = {'a':10,'b':20,'c':100}

In [10]:
arr

array([10, 20, 30])

In [12]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [16]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
# index with pandas Series

In [19]:
ser1 = pd.Series([1,2,3,4],index=['USA','CHINA','RUSSIA','PHILIPPINES'])

In [20]:
ser1

USA            1
CHINA          2
RUSSIA         3
PHILIPPINES    4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,3,4],index=['USA','CHINA','ITALY','JAPAN'])

In [22]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
ser2['JAPAN']

4

In [26]:
# operations based on an index position

In [27]:
ser1 + ser2

CHINA          4.0
ITALY          NaN
JAPAN          NaN
PHILIPPINES    NaN
RUSSIA         NaN
USA            2.0
dtype: float64